<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Add Activity</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:replace="~{headbar::navbar}"></div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="display-4" th:text="#{activities.add.head}">Add Activity</h1>
            <hr>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form method="post" th:action="@{/activities/add}" th:object="${activity}">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label" for="name"
                                       th:text="#{activities.add.name}">Activity Name</label>
                                <input class="form-control" id="name" th:field="*{name}"
                                       th:placeholder="#{activities.add.name.placeholder}" type="text"
                                       required/>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-form-label" for="description"
                                       th:text="#{activities.add.goal}">Activity description</label>
                                <textarea id="description" rows="4"
                                          th:field="*{goal}"
                                          th:placeholder="#{activities.add.goal.placeholder}"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-1">
                                <input class="btn btn-primary" th:value="#{activities.add.button.submit}" type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>